.car-adding-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.car-adding-title {
    margin: 30px;
}

.car-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 10px 0;
}

.car-form>* {
    width: 70%;
    text-align: center;
}

.car-form label {
    margin-top: 10px;
    font-family: "PT Astra Font bold", sans-serif;
    font-size: 1.2rem;
}

.car-form input,
.car-form select {
    margin: 5px 0;
    padding: 10px 20px;
    border: 1px solid var(--color-1);
}

.car-form input:invalid,
.car-form select:invalid {
    border: 2px solid var(--color-2);
}

.add-car-return-btn {
    margin: 20px;
    padding: 10px 40px;
    background-color: var(--color-2);
    color: azure;
    border: none;
    border-radius: 2px;
    font-family: "PT Astra Font regular", sans-serif;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

.add-car-return-btn:active {
    color: var(--color-1);
}

.submit-car-btn {
    padding: 10px 30px;
    background-color: var(--color-2);
    color: azure;
    border: none;
    border-radius: 2px;
    font-family: "PT Astra Font regular", sans-serif;
    font-size: 1.1rem;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.submit-car-btn:active {
    color: var(--color-1);
}

.submit-car-btn:disabled {
    background-color: white;
    border: 1px solid var(--color-1);
    color: black;
    box-shadow: none;
}

@media (min-width: 767px) and (max-width: 991px) {

    .car-form input,
    .car-form select {
        font-size: 0.7rem;
        padding: 8px 20px;
    }

    .car-form label {
        font-size: 1rem;
    }

    .submit-car-btn {
        font-size: 0.9rem;
    }

    .submit-car-btn {
        font-size: 0.9rem;
    }

    .add-car-return-btn {
        margin: 15px;
        padding: 10px 30px;
        font-size: 0.9rem;
    }
}

@media (min-width: 320px) and (max-width: 766px) {

    .car-form input,
    .car-form select {
        font-size: 0.5rem;
        padding: 5px 20px;
    }

    .car-form label {
        font-size: 0.7rem;
    }

    .submit-car-btn {
        font-size: 0.8rem;
    }

    .add-car-return-btn {
        margin: 15px;
        padding: 10px 30px;
        font-size: 0.8rem;
    }
}