.user-info {
    display: flex;
    align-items: center;
}

.user-info>* {
    margin: 20px;
}

.auth-btn {
    padding: 5px 25px;
    background-color: var(--color-2);
    color: azure;
    border: none;
    border-radius: 2px;
    font-family: "PT Astra Font regular", sans-serif;
    transition: all 0.3s ease-in-out;
}

.auth-btn:active {
    color: var(--color-1);
}

@media (min-width: 320px) and (max-width: 766px) {
    .auth-btn {
        padding: 5px 15px;
        font-size: 0.6rem;
        box-shadow: 0.5px 1px var(--color-1);
    }
    .user-info>* {
        margin: 3px;
    }
}