.post-success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post-success-title {
    margin: 40px 20px;
}

.post-success-return-btn {
    margin: 20px;
    padding: 10px 40px;
    background-color: var(--color-2);
    box-shadow: 1px 2px var(--color-1);
    color: azure;
    border: none;
    border-radius: 2px;
    font-family: "PT Astra Font regular", sans-serif;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

.post-success-return-btn:active {
    box-shadow: 2px 1px var(--color-1);
    color: var(--color-1);
}