@font-face {
    font-family: "PT Astra Font regular";
    src: url(../assets/fonts/PT_Astra/PT-Astra-Sans_Regular.ttf);
}

@font-face {
    font-family: "PT Astra Font bold";
    src: url(../assets/fonts/PT_Astra/PT-Astra-Sans_Bold.ttf);
}

@font-face {
    font-family: "PT Astra Font italic";
    src: url(../assets/fonts/PT_Astra/PT-Astra-Sans_Italic.ttf);
}

@font-face {
    font-family: "PT Astra Font bold italic";
    src: url(../assets/fonts/PT_Astra/PT-Astra-Sans_Bold-Italic.ttf);
}

:root {
    --color-1: #163E6C;
    --color-2: #D20A11;
    --color-3: #EBE6D6;
}