*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    min-width: 100%;
    font-size: 18px;
    line-height: 1;
    font-family: "PT Astra Font regular", sans-serif;
    overflow-x: hidden;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-2);
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

.root-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1366px) {
    body {
        font-size: 1.3rem;
    }
}

@media (min-width:992px) and (max-width: 1365px) {
    body {
        font-size: 1.1rem;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    body {
        font-size: 0.9rem;
    }
}

@media (min-width: 320px) and (max-width: 766px) {
    body {
        font-size: 0.5rem;
    }
}
